<div class="container d-flex justify-content-center align-items-center">
    <div class="w-50 my-4">

        <h3 class="mb-4">Edit Event</h3>
        
        <% if (errors && errors.length > 0) { %>
            <div class="alert alert-danger show" role="alert">
                <ul class="mb-0">
                    <% errors.forEach(error => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </div>
        <% } %>

        <form action="/events/edit/<%= event.eventID %>" method="POST">
            <div class="mb-3">
                <label class="form-label">Event Name</label>
                <input type="text" class="form-control" name="name" value="<%= event?.name || '' %>"  required>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" name="description" rows="4" required><%= event?.description || '' %></textarea>
            </div>
            <hr>
            <div class="mb-3">
                <label class="form-label">Start Time</label>
                <input type="datetime-local" class="form-control" name="start" value="<%= event?.start.toFormat("yyyy-MM-dd'T'HH:mm") || '' %>"  required>
            </div>
            <div class="mb-3">
                <label class="form-label">End Time</label>
                <input type="datetime-local" class="form-control" name="end" value="<%= event?.end.toFormat("yyyy-MM-dd'T'HH:mm") || '' %>" required>
            </div>
            <hr>
            <div class="mb-3">
                <label class="form-label">Tags</label>
                <select class="form-select" name="tags">
                    <option value="">Select a tag (coming soon)</option>
                </select>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary w-100">
                Update Event
            </button>
        </form>
    </div>
</div>